<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.andstatus.todoagenda"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="org.dmfs.permission.READ_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CalendarConfiguration.Dark">

        <activity android:name="org.andstatus.todoagenda.MainActivity"
                  android:exported="true"
                  android:launchMode="singleTask"
                  android:finishOnTaskLaunch="true"
                  android:noHistory="true"
                  android:excludeFromRecents="true"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name="org.andstatus.todoagenda.WidgetConfigurationActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true">
        </activity>

        <receiver
            android:name="org.andstatus.todoagenda.AppWidgetProvider"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>
        <receiver android:name="org.andstatus.todoagenda.EnvironmentChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_ALARM_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.DREAMING_STOPPED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="org.andstatus.todoagenda.action.REFRESH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>
        <service
            android:name="org.andstatus.todoagenda.RemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
    </application>

</manifest>